button:focus { outline: none; }
button { 
    padding: 0;
    border: none;
    background: none; 
    border-radius:5px;
    min-height: 25px;
    min-width: 150px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    transition: all ease 0.5s 0s;
}
button:hover{
    background: #eee8e87e;
    transition: all ease 0.5s 0s;
}
.container {
    display: flex;
    margin: 10px auto;
    margin-top: 5%;
}
.list {
    width: 6%;
    margin-left: 20%;
}
.view {
    margin: 0px 12%;
    width: 60%;
    flex: 1;
}
.list-1 button{
    padding-left: 30px;
}
.side {
    margin-top: 2%;
}
.nav {
    margin-top: 5px;
    text-align: center;
    font-weight: bolder;
    font-size:larger;
    color: #535353;
    transition: all ease 0.5s 0s;
}
.nav:hover {
    color: #000000;
    transition: all ease 0.5s 0s;
    cursor:pointer;
}
.w {
    color: #ffffff;
    transition: all ease 0.5s 0s;
    font-size: small;
}
.nav:hover .w {
    color: #4e4e4e;
    transition: all ease 0.5s 0s;
}
.announce {
    width: 70%;
    border-radius: 15px;
    background-color: #f5f5f59a;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: all ease 0.5s 0s;
    margin-bottom: 2%;
}
.announce:hover {
    background-color: #e4e3e369;
    transition: all ease 0.5s 0s;
    cursor:default;
}
.announce-title {
    font-size: larger;
    color: #3f3f3f;
    transition: all ease 0.5s 0s;
}.announce-title:hover {
    font-size: larger;
    color: #000000;
    transition: all ease 0.5s 0s;
}
.hide {
    display: none;
}
.show {
    visibility: visible;
}
.hs {
    color: #bbbbbb;
    transition: all ease 0.5s 0s;
}
.hs-h {
   
    color: #ffffff;
    transition: all ease 0.5s 0s; 
}
.rehdals {
    cursor: pointer;
}
.rehdals span {
    color: #ffffff;
    transition: all ease 0.5s 0s;
    font-size: small;
}
.rehdals:hover span { 
    color: #4e4e4e;
    transition: all ease 0.5s 0s; 
}
